/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jd-dialog-container .mat-mdc-dialog-container {
  border-radius: 20px;
  padding: 0;
  overflow: auto;
}

.validation-dialog-container .mat-mdc-dialog-container {
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
}
